# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

aurora/
connectors/vivado_files/*
detectors/vivado_files/*
generators/vivado_files/*
generators/xapp884/*
packages/vivado_files/*
wishbone/vivado_files/*
prbs/vivado_files/*
vunit_out/

ise post synth sim/
prng/

*~
# ghdl
*.o
*.cf
*.ghw
*.vcd
#*.gtkw
*.zip
*.log
*.dat
*.xml
*.pyc

#Some files without extensia are fine
!Makefile

